@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al trabajo de la unidad 4</h1>
    <p>Nuestros integrantes son Joaquín Zambrano, Luis Vega, Gabriela Demera</p>
</div>
